.post-container {
  /* display: flex; */
  margin: 15px 0px 20px 0px;
  /* background-color: rgb(244, 246, 230); */
}

.post-header {
  margin-bottom: 35px;
}

.post-header h1{
  padding: 20px 0px 10px 0px;
  font-size: 40px;
  font-weight: 510;
}

.post-header p {
  margin-bottom: 15px;
}

.post-body h1, h2 {
  padding: 20px 0px 20px 0px;
  font-weight: 450;
}

.post-body p {
  line-height: 30px;
  font-size: 17px;  
  padding-bottom: 4px;
}

.post-body li {
  padding: 3px;
  margin-left: 20px;
}

.post-body ul {
  margin-top: 6px;
  font-size: 17px;
}

p > img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.border-line {
  border-bottom: 2px solid rgb(246, 184, 129);
  width: 167px;
}

@media (max-width: 480px) {
  .post-header h1{
    padding-top: 10px;
  }
}
