.about-container {
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 30px; */
  height: 100hv;
}

.about-title {
  font-size: 60px;
  font-weight: 300;
  /*font-style: bold;*/
  padding: 40px 30px 10px 30px;
}

.about-description {
  flex: 1;
  padding: 160px 20px 0px 20px;
  font-size: 18px;
  line-height: 35px;
}

.about-border {
  margin-top: 10px;
  border-bottom: 4px solid rgb(246, 184, 129);
  width: 260px;
}

.avatar {
  margin: 40px 0px 0px 20px;
  height: 250px;
  width: 250px;
  padding: 0;
  border-radius: 50%;
}

.social-refs {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social-refs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.social-refs li {
  width: 100%;
  text-align: center;
}

.media-icon img {
  height: 40px;
  width: 40px;
}

.email {
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .about-description {
    padding-top: 40px;
  }
}
