* {
  box-sizing: border-box;
  font-family: BrandonText,SF UI Text,San Francisco,-apple-system,BlinkMacSystemFont,sans-serif;
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  background-color: rgb(248, 247, 246);
}