article {
  padding: 15px;
  margin-bottom: 40px;
  background-color: rgb(246, 230, 205) ;
}

article:hover {
  background-color: rgb(243, 219, 183);
}

.post-header {
  margin-bottom: 15px;
}

.post-header a {
  text-decoration: none;
  color: inherit;
}

.post-description {
  margin-top: 10px;
}