article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  margin-bottom: 20px;  
  border-radius: 5px;
}

.post-header-container {
  flex: 0 0 100%;
  padding-top: 15px;
  padding-right: 100px;
  padding-left: 10px;
  color: black;
}

.post-header {
  margin-bottom: 12px;
}

.post-header a {
  font-size: 44px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.read-time {
  font-size: 17px;
  font-weight: 100;
}

.post-description {
  font-size: 22px;
  line-height: 25px;
  font-weight: 200;
  margin-top: 14px;
  margin-bottom: 12px;
}

.image {
  border-radius: 4px;

  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
  transition: transform .5s ease;
}

.image-wrapper {
  position: relative;
  height: 500px;
  width: 890px;
}

.read-more {
  font-size: 26px;
  text-decoration: none;
  font-weight: 200;
  color: #2f89fc;
  transition: visibility 0s, opacity 0.5s linear;
}

.image-wrapper:hover > .image-overlay, .read-more{
  top: 180px;
}

.image-wrapper:hover .read-more {
  color: rgb(237, 235, 245);
  visibility: visible;
  opacity: 1;
}

@media (max-width: 480px) {
  article {
    margin-bottom: 0;  
  }

  .post-header-container {
    padding: 0 10px 0 5px;
  }

  .post-header {
    margin-bottom: 0;
  }

  .post-header a {
    font-size: 24px;
    text-decoration: none;
    color: inherit;
  }

  .read-time {
    font-size: 14px;
  }
  
  .image {
    max-width: 47vh;
    max-height: 40vw;
  }

  .image-wrapper {
    max-width: 47vh;
    max-height: 40vw;
  }

  .read-more {
    font-size: 16px;
  }

  .image-overlay {  
    margin-top: 50px;
    padding-top: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .image-wrapper:hover > .image-overlay, .read-more{
    top: 10px;
  }

  .image-wrapper:hover .read-more {
    visibility: hidden;
    opacity: 0;
  }

  .post-description {
    display: none;
  }
}
