.aboutContainer {
  display: flex;
  justify-content: start;
  padding: 20px;

  box-shadow:0px 2px 0px rgb(246, 184, 129);
}

.about-description {
  line-height: 30px;
  font-size: 25px;
  padding-left: 15px;
  margin: 15px;
}

.avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}


@media (max-width: 480px) {
  .aboutContainer {
    padding: 15px 0px 15px 0px;
  }
  
  .about-description {
    padding-left: 0px;
    margin: 25px 0px 5px 10px;
    font-size: 15px;
  }
}